#topSearch {
  width: 250px;
}

#topNav a {
  /*background-color: #ef9a9a;*/
  color: black;
}
#mapArea{
  border: 3px solid teal;
  width: 100%;
  height: 650px;
}

body a{
  color: inherit;
}

nav ul a:hover {
  background-color: #4db6ac;
}

.chip {
  height: auto;
  overflow: auto;
}

#content {
    display: none;
}

#menu li a {
    font-size: 16px !important;
    text-decoration: none !important;
}

.navbar-collapse {
    float: right;
}

.navbar-collapse li {
    cursor: pointer;
}

.space {
    margin-top: 20px;
}
